# My Projects For my data engineer

In [1]:
import glob                         # this module helps in selecting files 
import pandas as pd                 # this module helps in processing CSV files
import xml.etree.ElementTree as ET  # this module helps in processing XML files.
from datetime import datetime

### Download Files

In [2]:
# !wget https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork/labs/module%206/Lab%20-%20Extract%20Transform%20Load/data/datasource.zip

In [3]:
### Unzip Files
# !unzip datasource.zip -d dealership_data

## About the Data
The file dealership_data contains CSV, JSON, and XML files for used car data which contain features named car_model, year_of_manufacture, price, and fuel.

### Set Paths

In [4]:
tmpfile = "dealership_temp.tmp"
logfile = "dealership_logfile.txt"
targetfile = "dealer_transformed_data.csv"

### Extract

#### CSV Extract Function

In [5]:
def extract_from_csv(files):
  df = pd.read_csv(files)
  return df

#### Extract Function

In [6]:
def extract():
    extract_data = pd.DataFrame(columns=["car_model", "years_of_manufacture", "price", "fuel"])

    for csvfile in glob.glob("dealership_data/*.csv"):
      extract_data = extract_data.append(extract_from_csv(csvfile), ignore_index=True)

    return extract_data

#### Transform

In [12]:
def transform(data):
    data["price"] = round(data.price, 2)

#### Load

In [8]:
def load(targetfile,data_to_load):
    data_to_load.to_csv(targetfile)

#### Logging

In [9]:
def log(message):
    timestamp_format = '%Y-%h-%d-%H:%M:%S' # Year-Monthname-Day-Hour-Minute-Second
    now = datetime.now() # get current timestamp
    timestamp = now.strftime(timestamp_format)
    with open("dealership_logfile.txt","a") as f:
        f.write(timestamp + ',' + message + '\n')

In [13]:
log("ETL Job Started") 
log("Extract phase Started") 

extracted_data = extract() 
print(extracted_data)
print("---------------------------------")
log("Extract phase Ended") 
log("Transform phase Started") 

transformed_data = transform(extracted_data) 

print(transformed_data)
log("Transform phase Ended") 
log("Load phase Started") 

# load(targetfile,transformed_data) 
log("Load phase Ended") 
log("ETL Job Ended")

        car_model years_of_manufacture         price    fuel  \
0            ritz                  NaN   5000.000000  Petrol
1             sx4                  NaN   7089.552239  Diesel
2            ciaz                  NaN  10820.895522  Petrol
3         wagon r                  NaN   4253.731343  Petrol
4           swift                  NaN   6865.671642  Diesel
5   vitara brezza                  NaN  13805.970149  Diesel
6            ciaz                  NaN  10074.626866  Petrol
7         s cross                  NaN   9701.492537  Diesel
8            ciaz                  NaN  13059.701493  Diesel
9            ciaz                  NaN  11119.402985  Diesel
10       alto 800                  NaN   4253.731343  Petrol
11           ciaz                  NaN  10223.880597  Diesel
12           ciaz                  NaN  11194.029851  Petrol
13         ertiga                  NaN   9104.477612  Petrol
14          dzire                  NaN   3358.208955  Petrol
15         ertiga                  NaN  11567.164179  Diesel
16         ertiga                  NaN  10820.895522  Diesel
17         ertiga                  NaN  11567.164179  Diesel
18        wagon r                  NaN   4850.746269     CNG
19            sx4                  NaN   3955.223881  Petrol
20       alto k10                  NaN   4253.731343  Petrol
21          ignis                  NaN   7313.432836  Petrol
22            sx4                  NaN   6567.164179  Petrol
23       alto k10                  NaN   3731.343284  Petrol
24        wagon r                  NaN   4328.358209  Petrol
25          swift                  NaN   4477.611940  Petrol
26          swift                  NaN   6194.029851  Petrol
27          swift                  NaN   8955.223881  Petrol
28       alto k10                  NaN   2910.447761  Petrol
29           ciaz                  NaN  11119.402985  Diesel

    year_of_manufacture
0                2014.0
1                2013.0
2                2017.0
3                2011.0
4                2014.0
5                2018.0
6                2015.0
7                2015.0
8                2016.0
9                2015.0
10               2017.0
11               2015.0
12               2015.0
13               2015.0
14               2009.0
15               2016.0
16               2015.0
17               2016.0
18               2015.0
19               2010.0
20               2016.0
21               2017.0
22               2011.0
23               2014.0
24               2013.0
25               2011.0
26               2013.0
27               2017.0
28               2010.0
29               2015.0
---------------------------------
None